<div class="row" id="row1">
    <div class="columns small-2 medium-2 large-2">
    </div>
    <div class="columns small-8 medium-8 large-8"></div>
    <div class="columns small-2 medium-2 large-2">
        <button class="button" href="login.handlebars" id="login">LOGIN</button>
        <button class="button" href="signup.handlebars" id="sign-up">SIGN UP</button>
    </div>
</div>

<div class="row" id="row2">
    <div class=" columns small-2 medium-4 large-4" class="empty-column">&nbsp;</div>
    <div class="columns small-8 medium-4 large-4">
        <img src="/images/logoDesktop.png">
    </div>
    <div class="columns small-2 medium-4 large-4" class="empty-column"></div>
</div>

<div class="row" id="row3">
    <div class="columns small-2 medium-4 large-4" class="empty-column">&nbsp;</div>
    <div class="columns small-8 medium-4 large-4">
        <form>
            <label for="middle-label">SEARCH: </label><input type="text" id="title" placeholder="Search term...">
        </form>
    </div>
    <div class="columns small-2 medium-4 large-4" class="empty-column"></div>
</div>

<div class="row" id="row4">
    <div class="columns small-2 medium-4 large-4" class="empty-column">&nbsp;</div>
    <div class="columns small-8 medium-4 large-4">
        <button class="button" href="#" id="submit-button">SUBMIT</button>
    </div>
    <div class="columns small-2 medium-4 large-4" class="empty-column"></div>
</div>
