    <div class="row" id="row1">
        <div class="columns small-10 medium-10 large-10"></div>
        <div class="columns small-2 medium-2 large-2"></div>
    </div>
    <br><br>

    <form>
        <div class="row" id="row1">
            <div class="columns small-2 medium-4 large-4" class="empty-column">&nbsp;</div>

            <div class="columns small-8 medium-4 large-4">
                <label>Username <input type="text" placeholder="Create Username">
                </label>
            </div>

            <div class="columns small-2 medium-4 large-4" class="empty-column"></div>
        </div>

        <br>

        <div class="row" id="row3">
            <div class="columns small-2 medium-4 large-4" class="empty-column">&nbsp;</div>

            <div class="columns small-8 medium-4 large-4">
                <label>Password
                    <input type="password" aria-describedby="passwordHelpText">
                </label>
                <p class="help-text" id="passwordHelpText">Your password must have at least 6 characters, a number, and
                    a special character.</p>
                <a class="buttonprimary" id="loginSubmit" href="#">Submit</a>
            </div>

            <div class="columns small-2 medium-4 large-4" class="empty-column"></div>
        </div>

    </form>