<div class="row" id="search-row-1">
    <div class="columns small-2 medium-2 large-2">
        <img id="search-logo" src="/images/screenguide.jpg">
    </div>
    <div class="columns small-8 medium-8 large-8"></div>
    <div class="columns small-2 medium-2 large-2">
        <button class="button" href="#" id="login">LOGIN</button>
        <button class="button" href="#" id="sign-up">SIGN UP</button>
    </div>
</div>

<div class="container">
    <div class="row" id="search-row-2">
        <div class="columns small-0 medium-1 large-1" class="empty-column">&nbsp;</div>
        <div class="columns small-12 medium-10 large-7" id="search-result">Lorem ipsum dolor, sit amet consectetur
            adipisicing elit. Dolores veniam, vel dicta, id quas harum quae vero odio est accusamus autem, quasi fuga?
            Velit ipsa facilis, ad debitis possimus accusamus!
        </div>
        <div class="columns small-0 medium- large-1" class="empty-column">&nbsp;</div>
        <div class="columns small-12 medium-10 large-2" id="recent-searches">Recent Searches Will Go Here and Will Be
            Clickable</div>
        <div class="columns small-0 medium-1 large-1" class="empty-column">&nbsp;</div>
    </div>
</div>

<div class="container">
    <div class="row" id="search-row-3">
        <div class="columns small-1 medium-2 large-9" class="empty-column">&nbsp;</div>
        <div class="columns small-10 medium-8 large-2" class="empty-column">
            <form>
                <label for="middle-label">SEARCH: </label><input type="text" id="middle-label" placeholder="ex. Game of Thrones">
            </form>
        </div>
        <div class="columns small-1 medium-2 large-1" class="empty-column">&nbsp;</div>
    </div>
</div>

<div class="container">
    <div class="row" id="search-row-4">
        <div class="columns small-1 medium-2 large-9" class="empty-column">&nbsp;</div>
        <div class="columns small-10 medium-8 large-2" class="empty-column">
            <button class="button" href="#" id="submit-button">SUBMIT</button>
        </div>
        <div class="columns small-1 medium-2 large-1" class="empty-column">&nbsp;</div>
    </div>
</div>